{% from "components.html" import cartItem with context %}

{% extends 'frame.html' %}

{% block content %}
<div class="container">
  <div class="row g-5">
    <div class="col-md-5 col-lg-4 order-md-last">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-primary">Your cart</span>
        <span class="badge bg-primary rounded-pill">{{ itemCount }}</span>
      </h4>
      <ul class="list-group mb-3">
        {% if userItems|length == 0 %}
        <p>You Have No items in your cart!</p>
        {% else %}
        {% for myItem in userItems %}
        {{ cartItem(myItem.itemName, myItem.itemPrice, myItem.itemWeight, myItem.itemQuantity, myItem.itemId) }}
        {% endfor %}
        {% if shippingCost %}
        <li class="list-group-item d-flex justify-content-between bg-body-tertiary">
          <div class="text-success">
            <h6 class="my-0">Shipping cost</h6>
            <small>Shipping cost added if total weight > 20lb</small>
          </div>
          <span class="text-success">$5.00</span>
        </li>
        {% endif %}
        <li class="list-group-item d-flex justify-content-between">
          <span>Total (USD)</span>
          <strong>{{ totalCost }}</strong>
        </li>
        {% endif %}
      </ul>
    </div>
    <div class="col-md-7 col-lg-8">
      <h4 class="mb-3">Address</h4>
      <form method="post" id="checkout_form">
        <fieldset {{ 'disabled' if userItems|length==0 }}>
          <div class="row g-3">
            <div class="col-12">
              <div class="form-floating">
                <input type="text" class="form-control" name="addressInput" maxlength="50" placeholder="Address"
                  required pattern="^(?! +$)[^\s].*$">
                <label for="addressInput">Address</label>
              </div>
            </div>
            <div class="col-md-5">
              <div class="form-floating">
                <select type="select" class="form-select form-control" name="countryInput" required>
                  <option>United States</option>
                </select>
                <label for="countryInput">Country</label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-floating">
                <select type="select" class="form-select form-control" name="stateInput" required>
                  <option value="Alabama">Alabama</option>
                  <option value="Alaska">Alaska</option>
                  <option value="Arizona">Arizona</option>
                  <option value="Arkansas">Arkansas</option>
                  <option value="California">California</option>
                  <option value="Colorado">Colorado</option>
                  <option value="Connecticut">Connecticut</option>
                  <option value="Delaware">Delaware</option>
                  <option value="Florida">Florida</option>
                  <option value="Georgia">Georgia</option>
                  <option value="Hawaii">Hawaii</option>
                  <option value="Idaho">Idaho</option>
                  <option value="Illinois">Illinois</option>
                  <option value="Indiana">Indiana</option>
                  <option value="Iowa">Iowa</option>
                  <option value="Kansas">Kansas</option>
                  <option value="Kentucky">Kentucky</option>
                  <option value="Louisiana">Louisiana</option>
                  <option value="Maine">Maine</option>
                  <option value="Maryland">Maryland</option>
                  <option value="Massachusetts">Massachusetts</option>
                  <option value="Michigan">Michigan</option>
                  <option value="Minnesota">Minnesota</option>
                  <option value="Mississippi">Mississippi</option>
                  <option value="Missouri">Missouri</option>
                  <option value="Montana">Montana</option>
                  <option value="Nebraska">Nebraska</option>
                  <option value="Nevada">Nevada</option>
                  <option value="New Hampshire">New Hampshire</option>
                  <option value="New Jersey">New Jersey</option>
                  <option value="New Mexico">New Mexico</option>
                  <option value="New York">New York</option>
                  <option value="North Carolina">North Carolina</option>
                  <option value="North Dakota">North Dakota</option>
                  <option value="Ohio">Ohio</option>
                  <option value="Oklahoma">Oklahoma</option>
                  <option value="Oregon">Oregon</option>
                  <option value="Pennsylvania">Pennsylvania</option>
                  <option value="Rhode Island">Rhode Island</option>
                  <option value="South Carolina">South Carolina</option>
                  <option value="South Dakota">South Dakota</option>
                  <option value="Tennessee">Tennessee</option>
                  <option value="Texas">Texas</option>
                  <option value="Utah">Utah</option>
                  <option value="Vermont">Vermont</option>
                  <option value="Virginia">Virginia</option>
                  <option value="Washington">Washington</option>
                  <option value="West Virginia">West Virginia</option>
                  <option value="Wisconsin">Wisconsin</option>
                  <option value="Wyoming">Wyoming</option>
                </select>
                <label for="stateInput">State</label>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-floating">
                <input type="text" class="form-control" name="zipInput" pattern="[0-9]{5}" minlength="5" maxlength="5"
                  placeholder="5 digit zip code" required>
                <label for="zipInput">5 digit zip code</label>
              </div>
            </div>
          </div>
          <hr class="my-4">
          <h4 class="mb-3">Payment</h4>
          <div class="row gy-3">
            <div class="col-md-6">
              <div class="form-floating">
                <input type="text" class="form-control" name="nameInput" pattern="^(?! +$)[A-Za-z\s]+$" maxlength="50"
                  placeholder="Name on card" required>
                <label for="nameInput">Name on card</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-floating">
                <input type="text" class="form-control" name="ccNumberInput" pattern="[0-9]{16}" minlength="16"
                  maxlength="16" placeholder="Credit card number" required>
                <label for="ccNumberInput">Credit card number</label>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-floating">
                <input type="text" class="form-control" name="ccExpirationInput" pattern="(0[1-9]|1[0-2])\/(2[4-9]|[3-9]\d{2})"
                  minlength="5" maxlength="5" placeholder="Expiration (MM/YY)" required>
                <label for="ccExpirationInput">Expiration (MM/YY)</label>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-floating">
                <input type="text" class="form-control" name="ccCvvInput" pattern="[0-9]{3}" minlength="3" maxlength="3"
                  placeholder="CVV" required>
                <label for="ccCvvInput">CVV</label>
              </div>
            </div>
          </div>
          <hr class="my-4">
          <button class="w-100 btn btn-primary btn-lg" type="submit" name="make_order">Place order</button>
        </fieldset>
      </form>
    </div>
  </div>
</div>
<script>
  document.getElementById("checkout_form").reset();
</script>
{% endblock %}