<META NAME="robots" CONTENT="noindex,nofollow">

{% macro menuLinks() -%}
<li class="nav-item"><a href="{{ url_for('index') }}"
        class="nav-link px-2 {{ 'link-secondary' if activePage == 'home' }}">Home</a></li>
<li class="nav-item"><a href="{{ url_for('catalogF') }}"
        class="nav-link px-2 {{ 'link-secondary' if activePage == 'fruits' }}">Fruits</a></li>
<li class="nav-item"><a href="{{ url_for('catalogV') }}"
        class="nav-link px-2 {{ 'link-secondary' if activePage == 'vegetables' }}">Vegetables</a></li>
<li class="nav-item"><a href="{{ url_for('catalogM') }}"
        class="nav-link px-2 {{ 'link-secondary' if activePage == 'meats' }}">Meats</a></li>
<li class="nav-item"><a href="{{ url_for('catalogB') }}"
        class="nav-link px-2 {{ 'link-secondary' if activePage == 'beverages' }}">Beverages</a></li>
{% endmacro -%}

{% macro card(name, image_url, weight, stock, price, bulk, itemId) -%}
<div class="card h-100" style="width: 18rem;">
    <img src="{{ image_url }}" class="card-img-top">
    <div class="card-body">
        <h5 class="card-title">{{ name }}</h5>
        <h4>${{ price }}</h4>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><b>Shipping Weight:</b> {{ weight }} <i>lbs/unit</i></li>
        <li class="list-group-item"><b>Quantity Available:</b> {{ stock }}</li>
        {% if not bulk %}
        <li class="list-group-item"><b>Note:</b> sold individually</li>
        {% else %}
        <li class="list-group-item"><b>Note:</b> sold as a package</li>
        {% endif %}
    </ul>
    <div class="card-body">
        {% if activeSession %}
        <form method="post" class="text-center">
            <div class="form-floating mb-3">
                <input type="number" oninput="handleInput(this)" class="form-control" placeholder="Quantity" min="1" max="{{ stock }}" name="quantityNeeded">
                <label for="floatingInput">Quantity</label>
            </div>
            <input type="hidden" name="itemNeeded" value="{{ itemId }}"></input>
            <button class="btn w-100 btn-primary" type="submit">Add to cart</button>
        </form>
        {% else %}
        <a type="button" class="btn w-100 btn-primary" href="{{ url_for('signIn') }}">Log in to buy</a>
        {% endif %}
    </div>
</div>
{% endmacro -%}

{% macro authForm() -%}
<form method="post">
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="userEmailInput"
            value="{{ request.form['userEmailInput'] }}">
        <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password"
            name="userPasswordInput" value="{{ request.form['userPasswordInput'] }}">
        <label for="floatingPassword">Password</label>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endmacro -%}

{% macro cartItem(itemName, itemPrice, itemWeight, itemQuantity, itemId) -%}
<li class="list-group-item d-flex justify-content-between lh-sm">
    <div>
        <h6 class="my-0">{{ itemName }}</h6>
        <small class="text-body-secondary">{{ itemQuantity }} @ {{ itemWeight }} lb each</small>
        <br>
        <form method="post">
            <input type="hidden" name="itemId" value="{{ itemId }}"></input>
            <small><a href="" class="link-danger" onclick="this.closest('form').submit();return false;">remove</a></small>
        </form>
    </div>
    <span class="text-body-secondary">{{ itemPrice }}</span>
</li>
{% endmacro -%}